# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Project specific
totp_entries.txt
output/
.env
.venv/

# IDE
.idea/
.vscode/

# Virtual Environment
bin/
pyvenv.cfg
include/
lib/
lib64
share/
.Python
